streamlit
psycopg2-binary
sqlalchemy
streamlit-echarts
altair
plotly
streamlit-aggrid
streamlit-keyup
geopandas
folium
streamlit_folium
streamlit_extras
streamlit-card
streamlit_kpi
streamlit_product_card 
great_tables 
pdfkit
fpdf
pandasai==2.3.0
litellm



